
@{
    ViewBag.Title = "List of Roles";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Add", "Edit", "Role", new { @class = "btn btn-primary" })

<div id="role-list-container">
    @{ Html.RenderAction("RoleList"); }
</div>

