@using KoalaCode.BL.Code.Helpers
@model List<KoalaCode.BL.Models.Navigation.Backend.BackendStaticNavigationModel>
@{
    Layout = null;
}

<h3>General</h3>
<ul class="nav side-menu">
    @foreach (var n in Model)
    {
        <li @if (LocationHelper.IsCurrentControllerAndAction(n.Controller, n.Action, ViewContext)) { @: class="active-item"
                                            }>
            <a href="@Url.Action(n.Action, n.Controller)">@n.Label</a>
        </li>
    }

</ul>