@model List<KoalaCode.BL.Models.User.UserModel>
@{
    ViewBag.Title = "Index";
}

<div class="col-md-4 col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h2>Index</h2></div>
        <div class="panel-body">
            @if (Model != null && Model.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Login</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var u in Model)
                        {
                            <tr>
                                <td>@u.Id</td>
                                <td>@u.Login</td>
                                <td>@u.Email</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h1>Not found!!!</h1>
            }

        </div>
    </div>
</div>


